<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552675585340-b2ptkhl4sdvs5n5v28aresocah1r700c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552675585340-b2ptkhl4sdvs5n5v28aresocah1r700c</string>
	<key>API_KEY</key>
	<string>AIzaSyA-gRprDaeuRT3PrUvlvdve__CLWvyY5as</string>
	<key>GCM_SENDER_ID</key>
	<string>552675585340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.drink-for-free</string>
	<key>PROJECT_ID</key>
	<string>drinkinggame-b60f0</string>
	<key>STORAGE_BUCKET</key>
	<string>drinkinggame-b60f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552675585340:ios:badf30e921a97dc3924239</string>
	<key>DATABASE_URL</key>
	<string>https://drinkinggame-b60f0-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>